* {
	font-family: ubuntu;
}

html {
	height: 100%;
}

body {
	background-color: #64cdff;
	margin: 0;
	width: 100%;
	height: 100%;
}

nav {
	height: 60px;
	position: relative;
	z-index: 5;
	background-color: #64cdff;
}

.login {
    position: absolute;
    right: 20px;
    top: 10px;
    margin: 0;
    padding: 5px;
    font-size: 22px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    /* background-color: #64cdff; */
    background: linear-gradient(to bottom, #64cdff, #3cafe6);
    color: white;
    cursor: pointer;
    outline: none;
}

#f7cd91

.login:active {
	background: linear-gradient(to top, #64cdff, #3cafe6);
}




#introvideo {
	width: 100%;
	height: 50%;
	background-color: lightgrey;
	position: relative;
	overflow: hidden;
	background-color: #f7793b;
	z-index: 3;
}

video {
	display: block;
	position: absolute;
	top: -192px;
	height: auto;
	width: 110%;
	min-width: 1513px;
}

#titlediv {
	position: relative;
	z-index: 4;
}
.title {
	position: absolute;
	font-size: 48px;
	margin: 0;
	font-weight: bold;
	top: 257px;
	left: 150px;
	color: white;
	text-shadow: 1px 1px 8px black;
}

.description {
	text-align: center;
	margin: 0;
	padding-top: 23px;
	font-size: 17px;
	position: absolute;
	top: 300px;
	left: 151px;
	color: white;
	text-shadow: 1px 1px 8px black;
}

.signupform {
	margin: 20px auto;
	width: 270px;
	text-align: center;
	padding: 15px;
	border: 3px solid #e0e0e0;
	border-radius: 5px;
	background-color: #e4e4e4;
}

.entry {
	border-width: 0px 0px 2px 0px;
	background-color: #e4e4e4;
	text-align: center;
	width: 100%;
	font-size: 21px;
	color: #f7793b;
	outline: none;
	padding-top: 10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #b1b0b0;
	border-color: #a2a2a2;
}

::-webkit-input-placeholder { /* Chrome */
  color: #a2a2a2;
  text-shadow: none
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a2a2a2;
  text-shadow: none:;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a2a2a2;
  opacity: 1;
/*   text-shadow: 1px 1px 3px #6f6f6f */
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #a2a2a2;
  opacity: 1;
/*   text-shadow: 1px 1px 3px #6f6f6f */
}

.entrybutton {
  right: 20px;
  top: 10px;
  margin-top: 19px;
  padding: 5px;
  font-size: 21px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #64cdff, #3cafe6);
  color: white;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.entrybutton:active {
	background: linear-gradient(to top, #64cdff, #3cafe6);
}

.relative {
	position: relative;
	z-index: 5;
	padding-top: 10px;
	background-color: #64cdff;
	height: 42%;
}



.signuptitle {
	color: #3db0e6;
	font-size: 24px;
	padding-bottom: 6px;
	margin: 0;
	text-shadow: 1px 1px 2px rgb(165, 165, 165);
	/* font-weight: bold; */
}

.altbackground {
	display: none;
}

@media only screen and (max-width: 1220px) {
	video {
		right: -10%;
	}

}

@media only screen and (max-width: 860px) {
	video {
		left: -40%;
	}

}

@media only screen and (max-width: 700px) {
	video {
		display: none;
	}

	.altbackground {
		display: block;
		position: fixed;
		top: 26%;
		left: 53%;
		height: 79%;
		transform: translate(-50%, -50%) rotate(90deg);
		/* transform: rotate(45deg); */
	}

	.title {
		position: absolute;
		font-size: 48px;
		margin: 0;
		font-weight: bold;
		top: 17px;
		left: 37px;
		color: white;
		text-shadow: 1px 1px 8px black;
	}

	.description {
		text-align: left;
		margin: 0;
		padding-top: 23px;
		font-size: 17px;
		position: absolute;
		top: 70px;
		left: 37px;
		color: white;
		text-shadow: 1px 1px 8px black;
	}

}