* {
	font-family: 'Raleway', serif;
}

html {
	height: 100%;
}

body {
	background-color: #e2e2e2;
	margin: 0;
	width: 100%;
	height: 100%;
}

.backgroundImageBlurred {
  background-image: url('http://i.imgur.com/61Jhb4C.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  z-index: -10;
}

nav {
	background-color: #ffdfb6;
	height: 80px;
	position: relative;
	z-index: 10;
}

.pagetitle {
	color: #ffa836;
	font-size: 30px;
	position: absolute;
	margin: 0;
	bottom: 4px;
	left: 22px;
	font-weight: bold;
	font-family: 'Homemade Apple', cursive;
	display: inline-block;
}


#invalid {
	color: red;
	margin: 0;
}

.hidden {
	display: none;
}

.formWrapper {
	z-index: 10;
}

#js-login-form {
	margin: 60px auto 20px;
	max-width: 220px;
	text-align: center;
	padding: 50px 70px 70px 70px;
	border-radius: 5px;
	background-color: rgba(193, 154, 110, 0.9);
}

input {
	border-width: 0px 0px 2px 0px;
	text-align: center;
	width: 90%;
	font-size: 22px;
	color: #6ed0ff;
	outline: none;
	padding-top: 10px;
	margin-bottom: 10px;
	/* text-shadow: 1px 1px 3px #b1b0b0; */
	border-color: #755330;
	border-radius: 0px;
	background: none;
}



#js-login {
  right: 20px;
  top: 10px;
  margin-top: 19px;
  padding: 5px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  background-color: #f7bd74;
  color: white;
  cursor: pointer;
  outline: none;
  width: 100%;
  transition-duration: 0.5s;
}

#js-login:hover {
	background-color: #249fd8;
}

.relative {
	position: relative;
}



.logintitle {
	color: #fdb14e;
	font-size: 30px;
	padding-bottom: 10px;
	margin: 0;
	/* text-shadow: 1px 1px 7px rgb(165, 165, 165); */
	/* font-family: 'Bree Serif', serif; */
	/* font-weight: bold; */
}

#signup {
	text-align: center;
	padding: 5px;
	width: 100px;
	box-sizing: border-box;
	position: absolute;
	right: 20px;
	top: 21px;
	font-size: 21px;
	border: none;
	border-radius: 5px;
	background-color: #fdb14e;
	color: white;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
}

#signup:hover {
	background-color: #a25b00;
}

.fa {
  display: block;
}

.fa-spinner {
  color: #edf9ff;
  width: 100px;
}

.demoDiv {
	max-width: 270px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(193, 154, 110, 0.9);
	border-radius: 5px;
	padding: 5px;
}

.demo {
	margin: 0;
	color: white;
}