/*  cursor: wait; */

html, body {
  height: 100%;
}

.section {
  height: 90%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #7FC3FE;
}

/* Nav styles */
nav {
  width: 100%;
  height: 70px;
  background-color: #44A7FE;
  position: relative;
}

.title {
  font-size: 50px;
  color: white;
  font-family: Sansita;
}

.titlediv {
  display: inline-block;
}
.settings {
  float: right;
  font-family: Ubuntu;
  font-weight: bold;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.settings:hover {
  cursor: pointer;
}

.poweredBy {
  position: absolute;
  top: 10px;
  right: 150px; 
}

/* Dropdown menu */
.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-button:hover, .dropdown-button:focus {
    background-color: #3e8e41;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1
}

.show {
  display:block;
}


.settings {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Week styles */
.col {
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #D5D5D5;
  font-family: Ubuntu;
}

/* .col:hover {
  cursor: pointer;
} */


.weekday {
  text-align: center;
  margin: 5px 0px;
}


/* .recipeentry {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 7%;
  left: 10%;
  background-color: blue;
  box-sizing: border-box;
  border: 10px solid lightgrey;
  border-radius: 5px;
} */

.previousweek {
  position: fixed;
  bottom: 1%;
  left: 40%;
}

.nextweek {
  position: fixed;
  bottom: 1%;
  left: 50%;
}




/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: .5% 0 1% .5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SEVEN  */
.span_7_of_7 {
  width: 100%;
}

.span_6_of_7 {
    width: 85.64%;
}

.span_5_of_7 {
    width: 71.28%;
}

.span_4_of_7 {
    width: 56.92%;
}

.span_3_of_7 {
    width: 42.57%;
}

.span_2_of_7 {
    width: 28.21%;
}

.span_1_of_7 {
    width: 13.85%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 900px) {
  .col {  margin: 0%; }
  .span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { 
    width: 100%;
    height: auto;
  }
}

.addRecipeLink {
  text-decoration: none;
}

.addARecipeButton {
  color: grey;
  border: 5px solid grey;
  font-size: 100px;
  border-radius: 100px;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 30px auto;
}



/* modal code  */
.binModal {
  position: fixed;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* top: 0; */
  right: 0;
  bottom: 0;
  left: 0;
  height: 55%;
  background: rgba(0,0,0,0.8);
  z-index: 1;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: auto;
}

.binModal:target {
  opacity:1;
  pointer-events: auto;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  z-index: 20;
}

.close:hover { 
  background: #00d9ff; 
  cursor: pointer; 
}

.menuModal {
  position: fixed;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  top: 10%;
  right: 25%;
  /* bottom: 30%; */
  left: 25%;
  height: 700px;
  width: 50%;
  background: rgba(256,256,256,1);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: auto;
}

.menuModal:target {
  opacity:1;
  pointer-events: auto;
}

#js-recipe-submit {
  margin-bottom: 15px;
}

.ingrediententry, #addIngredient {
  background-color: white;
  border: ;
}





.recipecontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.recipeImage {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 10px solid grey;
  margin: 0;
  display: block;
}

.recipeName {
  width: 100%;
  /* height: 100%; */
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
}

.recipeByDay {
  position: relative;
}

.inBinModal {
  width: 130px;
  height: 130px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 80px;
}

.inDayColumn {

}


.findarecipe {
  box-sizing: border-box;
  width: 50%;
  margin: 10px 0px 10px 20px;
}



.hidden {
  display: none;
}

/* Recipe info modal CSS */
/* The Modal (background) */
.recipeInfoModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.recipeInfo {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
}

ul {
  list-style: none;
}
